//dark
$bg: #0b0b0b;
$text: #eaeaea;
$muted: #a1a1a1;
$accent: #9ef01a;
$accent-2: #00d4ff;
$border: rgba(255,255,255,0.08);

//light
$text: #0b0b0b;
$bg: #eaeaea;
$muted: #6e6e6e;
$accent: #9ef01a;
$accent-2: #00d4ff;
$border: rgba(0,0,0,0.08);

// light2
$bg: #999D9E;
$text: #eaeaea;
$muted: #cfcfcf;
$accent: #8fcf2e;
$accent-2: #5bc0de;
$border: rgba(0, 0, 0, 0.15);



$bg: #eaeaea;
$bg: #999D9E;
$muted: #cfcfcf;
$accent: #8fcf2e;
$accent-2: #5bc0de;
$border: rgba(0, 0, 0, 0.15);


$container: 1200px;
$ease: cubic-bezier(.2,.8,.2,1);

